# Balancing, Imputing, & Aligning

**Write and execute R code in the code cells per the instructions.  The expected results are provided for you directly following the code cells.**

In [131]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Data

Here is a dataset of some daily measurements regarding popularity of some product.

In [132]:
data.1 = data.frame(date=ymd(c("2017-12-30","2017-12-31","2018-01-01","2018-01-02","2018-01-03","2018-01-04",
                               "2018-01-05","2018-01-06","2018-01-07","2018-01-08","2018-01-09","2018-01-10")),
                    x1=c(2.5, 2, 9, 6.5, 8, 4, 4, 10.5, 3, 23, 12, 20),
                    x2=c(9, NA, NA, NA, 2.5, 8.5, 4, 7.5, 3, 23, 12, 20),
                    x3=c(9, 10, 1, 2, 1.5, 10.5, 4, 11, 3, 23, 12, 20))
fmt(data.1)

date,x1,x2,x3
2017-12-30,2.5,9.0,9.0
2017-12-31,2.0,NA,10.0
2018-01-01,9.0,NA,1.0
2018-01-02,6.5,NA,2.0
2018-01-03,8.0,2.5,1.5
2018-01-04,4.0,8.5,10.5
2018-01-05,4.0,4.0,4.0
2018-01-06,10.5,7.5,11.0
2018-01-07,3.0,3.0,3.0
2018-01-08,23.0,23.0,23.0
2018-01-09,12.0,12.0,12.0
2018-01-10,20.0,20.0,20.0

Here is a related dataset of daily revenue generated by each of 2 teams that sell the product.

In [133]:
data.2 = data.frame(date=ymd("2017-12-30","2017-12-30","2017-12-31","2017-12-31","2018-01-01","2018-01-01","2018-01-02","2018-01-02",
                             "2018-01-03","2018-01-03","2018-01-04","2018-01-04","2018-01-05","2018-01-05","2018-01-06","2018-01-06",
                             "2018-01-07","2018-01-07","2018-01-08","2018-01-08","2018-01-09","2018-01-09","2018-01-10","2018-01-10"),
                     revenue=c(1000, 1010, 1200, 1150, 805, 806, 790, 795, 800, 810, 803, 801, 800, 795,
                               1000, 1010, 1200, 1150, 815, 806, 800, 791, 802, 815),
                     team=c("A","B"))
fmt(data.2)

date,revenue,team
2017-12-30,1000,A
2017-12-30,1010,B
2017-12-31,1200,A
2017-12-31,1150,B
2018-01-01,805,A
2018-01-01,806,B
2018-01-02,790,A
2018-01-02,795,B
2018-01-03,800,A
2018-01-03,810,B
2018-01-04,803,A
2018-01-04,801,B
2018-01-05,800,A
2018-01-05,795,B
2018-01-06,1000,A
2018-01-06,1010,B
2018-01-07,1200,A
2018-01-07,1150,B
2018-01-08,815,A
2018-01-08,806,B
2018-01-09,800,A
2018-01-09,791,B
2018-01-10,802,A
2018-01-10,815,B

## Exercise 1

For the data.1 table, add synthetic variables for day of the week (categorical) and weekend (TRUE/FALSE).  Arrange the table's variables such that the synthetic variables appear second and third.  Show the revised table.

You might want to use these function(s):

* weekdays()

To syntheszie the day of week variable, apply weekdays().
To synthesize the weekend variable, specify a criterion that involves the new day of week variable.

In [134]:
dow = weekdays(data.1$date)
weekend = (dow == "Saturday" | dow == "Sunday")
new_data.1 = cbind(data.1[1], dow, weekend, data.1[,2:ncol(data.1)])
new_data.1

   date       dow       weekend x1   x2   x3
1  2017-12-30 Saturday   TRUE    2.5  9.0  9.0
2  2017-12-31 Sunday     TRUE    2.0   NA 10.0
3  2018-01-01 Monday    FALSE    9.0   NA  1.0
4  2018-01-02 Tuesday   FALSE    6.5   NA  2.0
5  2018-01-03 Wednesday FALSE    8.0  2.5  1.5
6  2018-01-04 Thursday  FALSE    4.0  8.5 10.5
7  2018-01-05 Friday    FALSE    4.0  4.0  4.0
8  2018-01-06 Saturday   TRUE   10.5  7.5 11.0
9  2018-01-07 Sunday     TRUE    3.0  3.0  3.0
10 2018-01-08 Monday    FALSE   23.0 23.0 23.0
11 2018-01-09 Tuesday   FALSE   12.0 12.0 12.0
12 2018-01-10 Wednesday FALSE   20.0 20.0 20.0

## Exercise 2

Next, for the data.1 table, impute the missing values by linear interpolation.  Use index-based selection to specify the observations needed for your calculations.  Show the revised table.

In [135]:
gap = data.1$x2[5] - data.1$x2[1]
step_size = gap / 4
imputed_value.1 = data.1$x2[1] + step_size
imputed_value.2 = data.1$x2[1] + 2*step_size
imputed_value.3 = data.1$x2[1] + 3*step_size

new_data.1$x2[2] = imputed_value.1
new_data.1$x2[3] = imputed_value.2
new_data.1$x2[4] = imputed_value.3

new_data.1

   date       dow       weekend x1   x2     x3
1  2017-12-30 Saturday   TRUE    2.5  9.000  9.0
2  2017-12-31 Sunday     TRUE    2.0  7.375 10.0
3  2018-01-01 Monday    FALSE    9.0  5.750  1.0
4  2018-01-02 Tuesday   FALSE    6.5  4.125  2.0
5  2018-01-03 Wednesday FALSE    8.0  2.500  1.5
6  2018-01-04 Thursday  FALSE    4.0  8.500 10.5
7  2018-01-05 Friday    FALSE    4.0  4.000  4.0
8  2018-01-06 Saturday   TRUE   10.5  7.500 11.0
9  2018-01-07 Sunday     TRUE    3.0  3.000  3.0
10 2018-01-08 Monday    FALSE   23.0 23.000 23.0
11 2018-01-09 Tuesday   FALSE   12.0 12.000 12.0
12 2018-01-10 Wednesday FALSE   20.0 20.000 20.0

## Exercise 3

Next, align the 2 datasets by contraction.  Each resulting observation should reflect the sum of revenues for the day.  Show the revised table.

In [136]:
temp_data.2 = data.2
temp_data.2$step = rep(1:nrow(data.1), 2) %>% sort()

temp_data.2.aggregated = aggregate(revenue ~ step, temp_data.2, sum)
data.12 = cbind(new_data.1, temp_data.2.aggregated[2])
data.12

   date       dow       weekend x1   x2     x3   revenue
1  2017-12-30 Saturday   TRUE    2.5  9.000  9.0 2010
2  2017-12-31 Sunday     TRUE    2.0  7.375 10.0 2350
3  2018-01-01 Monday    FALSE    9.0  5.750  1.0 1611
4  2018-01-02 Tuesday   FALSE    6.5  4.125  2.0 1585
5  2018-01-03 Wednesday FALSE    8.0  2.500  1.5 1610
6  2018-01-04 Thursday  FALSE    4.0  8.500 10.5 1604
7  2018-01-05 Friday    FALSE    4.0  4.000  4.0 1595
8  2018-01-06 Saturday   TRUE   10.5  7.500 11.0 2010
9  2018-01-07 Sunday     TRUE    3.0  3.000  3.0 2350
10 2018-01-08 Monday    FALSE   23.0 23.000 23.0 1621
11 2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 1591
12 2018-01-10 Wednesday FALSE   20.0 20.000 20.0 1617

## Exercise 4

Next, balance the aligned data by bootstrapping to make an equal number of weekend and non-weekend observations (set randomization seed to zero).  Sort by date.  Show the resulting table.

You might want to use these function(s):

* set.seed()
* sample()
* order()

In [152]:
set.seed(0)

sample.A = which(data.12$weekend==FALSE)
sample.B = c(which(data.12$weekend==TRUE), sample(which(data.12$weekend==TRUE), replace=TRUE, 4))

data.balanced = data.12[c(sample.A, sample.B), ]

data.balanced[order(as.Date(data.balanced$date, format="%Y/%m/%d")), ]

    date       dow       weekend x1   x2     x3   revenue
1   2017-12-30 Saturday   TRUE    2.5  9.000  9.0 2010
1.1 2017-12-30 Saturday   TRUE    2.5  9.000  9.0 2010
2   2017-12-31 Sunday     TRUE    2.0  7.375 10.0 2350
2.1 2017-12-31 Sunday     TRUE    2.0  7.375 10.0 2350
3   2018-01-01 Monday    FALSE    9.0  5.750  1.0 1611
4   2018-01-02 Tuesday   FALSE    6.5  4.125  2.0 1585
5   2018-01-03 Wednesday FALSE    8.0  2.500  1.5 1610
6   2018-01-04 Thursday  FALSE    4.0  8.500 10.5 1604
7   2018-01-05 Friday    FALSE    4.0  4.000  4.0 1595
8   2018-01-06 Saturday   TRUE   10.5  7.500 11.0 2010
8.1 2018-01-06 Saturday   TRUE   10.5  7.500 11.0 2010
9   2018-01-07 Sunday     TRUE    3.0  3.000  3.0 2350
9.1 2018-01-07 Sunday     TRUE    3.0  3.000  3.0 2350
10  2018-01-08 Monday    FALSE   23.0 23.000 23.0 1621
11  2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 1591
12  2018-01-10 Wednesday FALSE   20.0 20.000 20.0 1617

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised February 5, 2022
</span>
</p>
</font>